<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--
    Мета-тег <meta name="viewport"> — это важный элемент HTML, который определяет,
    как веб-страница будет масштабироваться и отображаться на различных устройствах.
    width=device-width — устанавливает ширину области просмотра равной ширине экрана устройства. телефон, планшет, десктоп
    initial-scale=1.0 — задает начальный масштаб страницы:
    Значение 1.0 означает, что страница будет отображаться в реальном размере (без увеличения или уменьшения)
-->
    <title>Контактная форма</title>
</head>
<body>
    <h1>Свяжитесь с нами</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div>
            <label for="name">Ваше имя</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="message">Ваше сообщение</label>
            <textarea type="text" id="message" rows="5" name="message" required></textarea>
        </div>
        <button type="submit">Отправить</button>
    </form>

</body>
</html>